.page-layout {
    position: relative;
    top: 13px;

    >.top-bar {
        background-color: var(--grey-F0);
        border-radius: 5px, 5px, 0px, 0px;
    }

    >.main-bar {
        background-color: var(--yallow-FF);
    }
}