.page-layout {
    position: relative;
    background-color: var(--white-FF);
    top: 10px;

    >.top-bar {
        position: relative;

        >.top-bar {
            background-color: var(--grey-F0);
            border-radius: 5px, 5px, 0px, 0px;
        }

        >.main-bar {
            background-color: var(--yallow-FF);
            display: flex;
            height: 121.04px;

            >.content {
                display: flex;
                justify-content: space-around;
                width: 1099.87px;

                >.name {
                    align-self: center;
                    font-size: 36px;
                    font-weight: 700;
                }

                >.search-form {
                    padding: 10px;
                    width: 748px;
                    height: 50.35px;
                    background-color: var(--grey-C4);
                    border-radius: 5px;

                    >.content {
                        // max-width: 164px;
                        align-self: center;

                        >.icon {
                            height: 25.43px;
                            width: 30.89px;
                        }


                        >.line {
                            border: 1px solid var(--grey-6C);
                        }

                        >.field {
                            width: 270px;
                            align-self: center;
                            background-color: var(--grey-C4);
                        }
                    }



                    >.action {
                        align-self: center;

                        >.icon {
                            width: 29.45px;
                            height: 28.2px;
                        }
                    }
                }
            }
        }

    }

    >.main-content {
        top: 10px;
        position: relative;
        background-color: var(--white-FF);
        width: 1152px;
        margin: auto;
    }
}