@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --grey-F0: rgba(240, 233, 233, 1);
    --yallow-FF: rgba(255, 211, 51, 1);
    --white-FF: rgba(255, 255, 255, 1);
    --grey-C4: rgba(196, 196, 196, 1);
    --grey-6C: rgba(108, 108, 108, 1);
}